<?xml version="1.0" encoding="UTF-8"?>

<quiqqer>

    <!-- project settings -->
    <project>
        <settings name="html5up-escape-velocity">
            <!-- config params -->
            <config>
                <section name="settings">
                    <conf name="logo">
                        <type><![CDATA[string]]></type>
                    </conf>

                    <conf name="showSiteContentTitle">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showSiteFooterTitle">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                </section>

                <section name="headerSettings">
                    <!--
                    <conf name="minHeaderNoSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="minHeaderLeftSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="minHeaderRightSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    -->
                    <conf name="headerSize">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>350</defaultvalue>
                    </conf>
                    <conf name="headerImagePosition">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                </section>

                <section name="colorSettings">
                    <conf name="colorMain">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#e97770</defaultvalue>
                    </conf>
                </section>

                <section name="footer">
                    <conf name="showVelocityFooter">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showcontact">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="mailTo">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <!-- config window -->
            <window>
                <categories>
                    <category name="html5up-escape-velocity">

                        <text>
                            <locale group="quiqqer/template-html5up-escape-velocity" var="settings.title" />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>

                        <settings title="settings" name="logo">

                            <title>
                                <locale group="quiqqer/template-html5up-escape-velocity"
                                        var="settings.general.title"
                                />
                            </title>

                            <!-- Logo -->
                            <input conf="html5up-escape-velocity.settings.logo" class="media-image">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="settings.logo"
                                    />
                                </text>
                            </input>

                            <!-- Show site title? -->
                            <input conf="html5up-escape-velocity.settings.showSiteContentTitle" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="settings.showSiteContentTitle"
                                    />
                                </text>
                            </input>
                            <input conf="html5up-escape-velocity.settings.showSiteFooterTitle" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="settings.showSiteFooterTitle"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="settings.showSiteFooterTitle.description"
                                    />
                                </description>
                            </input>

                        </settings>

                        <!-- Small header? -->

                        <settings title="headerSettings" name="headerSettings">
                            <title>
                                <locale group="quiqqer/template-html5up-escape-velocity" var="html5up-escape-velocity.header.settings.text" />
                            </title>
                            <!--
                            <input conf="html5up-escape-velocity.headerSettings.minHeaderNoSidebar" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity" var="minHeaderNoSidebar.text" />
                                </text>
                                <description><locale group="quiqqer/template-html5up-escape-velocity" var="minHeaderNoSidebar.description" /></description>
                            </input>
                            <input conf="html5up-escape-velocity.headerSettings.minHeaderLeftSidebar" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity" var="minHeaderLeftSidebar.text" />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-html5up-escape-velocity" var="minHeaderLeftSidebar.description" />
                                </description>
                            </input>
                            <input conf="html5up-escape-velocity.headerSettings.minHeaderRightSidebar" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity" var="minHeaderRightSidebar.text" />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-html5up-escape-velocity" var="minHeaderRightSidebar.description" />
                                </description>
                            </input>
                            -->
                            <!-- header size -->
                            <input conf="html5up-escape-velocity.headerSettings.headerSize" type="number">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="headerSize.text"
                                            />
                                </text>
                            </input>
                            <input conf="html5up-escape-velocity.headerSettings.headerImagePosition" type="number">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="headerImagePosition.text"
                                            />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="headerImagePosition.description"
                                            />
                                </description>
                            </input>
                        </settings>

                        <!-- Colors -->
                        <settings title="colorSettings"
                                  name="colorSettings">
                            <title>
                                <locale group="quiqqer/template-html5up-escape-velocity"
                                        var="colorSettings.title"
                                />
                            </title>

                            <input conf="html5up-escape-velocity.colorSettings.colorMain"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="colorSettings.colorMain.text"
                                    />
                                </text>
                            </input>
                        </settings>

                        <!-- Footer -->
                        <settings title="footer" name="footer">
                            <title>
                                <locale
                                    group="quiqqer/template-html5up-escape-velocity"
                                    var="footer.settings.title" />
                            </title>
                            <text>
                                <locale group="quiqqer/template-html5up-escape-velocity"
                                        var="content.footer.showVelocityFooter.description"
                                        />
                            </text>
                            <input conf="html5up-escape-velocity.footer.showVelocityFooter" type="checkbox">
                                <text>
                                    <locale
                                        group="quiqqer/template-html5up-escape-velocity"
                                        var="content.footer.showVelocityFooter.text" />
                                </text>
                            </input>
                            <input conf="html5up-escape-velocity.footer.showcontact" type="checkbox">
                                <text>
                                    <locale
                                        group="quiqqer/template-html5up-escape-velocity"
                                        var="content.footer.showcontact.text" />
                                </text>
                            </input>
                            <input conf="html5up-escape-velocity.footer.mailTo" type="text">
                                <text>
                                    <locale
                                        group="quiqqer/template-html5up-escape-velocity"
                                        var="content.footer.mailTo.text" />
                                </text>
                            </input>
                        </settings>
                    </category>
                </categories>
            </window>

        </settings>
    </project>

    <wysiwyg id="content">
        <css src="bin/css/style.css" />
        <css src="bin/css/style-desktop.css" />
        <css src="bin/css/sheet.css" />
    </wysiwyg>

</quiqqer>
