<?xml version="1.0" encoding="UTF-8"?>

<quiqqer>

    <!-- project settings -->
    <project>
        <settings name="html5up-escape-velocity">
            <!-- config params -->
            <config>
                <section name="settings">
                    <conf name="logo">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>

                <section name="content">
                    <conf name="left_content_recursive">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                </section>

                <section name="footer">
                    <conf name="showVelocityFooter">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showcontact">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="mailTo">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <!-- config window -->
            <window>
                <categories>
                    <category name="html5up-escape-velocity">

                        <text>
                            <locale group="quiqqer/template-html5up-escape-velocity" var="settings.title" />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>

                        <settings title="settings" name="logo">

                            <title>
                                <locale group="quiqqer/template-html5up-escape-velocity"
                                        var="settings.general.title"
                                />
                            </title>

                            <!-- Logo -->
                            <input conf="html5up-escape-velocity.settings.logo" class="media-image">
                                <text>
                                    <locale group="quiqqer/template-html5up-escape-velocity"
                                            var="settings.logo"
                                    />
                                </text>
                            </input>
                        </settings>

                        <settings title="content" name="content">

                            <title>
                                <locale
                                    group="quiqqer/template-html5up-escape-velocity"
                                    var="content.settings.title" />
                            </title>
                            <input conf="html5up-escape-velocity.content.left_content_recursive" type="checkbox">
                                <text>
                                    <locale
                                        group="quiqqer/template-html5up-escape-velocity"
                                        var="content.settings.left.content.text" />
                                </text>
                            </input>
                        </settings>

                        <!-- Footer -->
                        <settings title="footer" name="footer">
                            <title>
                                <locale
                                    group="quiqqer/template-html5up-escape-velocity"
                                    var="footer.settings.title" />
                            </title>
                            <text>
                                <locale group="quiqqer/template-html5up-escape-velocity"
                                        var="content.footer.showVelocityFooter.description"
                                        />
                            </text>
                            <input conf="html5up-escape-velocity.footer.showVelocityFooter" type="checkbox">
                                <text>
                                    <locale
                                        group="quiqqer/template-html5up-escape-velocity"
                                        var="content.footer.showVelocityFooter.text" />
                                </text>
                            </input>
                            <input conf="html5up-escape-velocity.footer.showcontact" type="checkbox">
                                <text>
                                    <locale
                                        group="quiqqer/template-html5up-escape-velocity"
                                        var="content.footer.showcontact.text" />
                                </text>
                            </input>
                            <input conf="html5up-escape-velocity.footer.mailTo" type="text">
                                <text>
                                    <locale
                                        group="quiqqer/template-html5up-escape-velocity"
                                        var="content.footer.mailTo.text" />
                                </text>
                            </input>
                        </settings>
                    </category>
                </categories>
            </window>

        </settings>
    </project>

    <wysiwyg id="content">
        <css src="bin/css/style.css" />
        <css src="bin/css/style-desktop.css" />
        <css src="bin/css/sheet.css" />
    </wysiwyg>

</quiqqer>
